<div class="outer-container">
<h1>Editing customer</h1>

<%= render 'form' %>

<%= link_to 'Show', @appointment, class: "btn btn-link"  %> |
<%= link_to 'Back', appointments_path, class: "btn btn-link"  %>
</div>
